<div id="feed-container">
  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <input placeholder="Search" class="search form-control">
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class='list col-md-12'>
      <%= render @feed_entries %>
    </div>
  </div>
</div>

<%= will_paginate @feed_entries %>

<script type="text/javascript">
  $(function() {
    if ($('.pagination').length) {
      $(window).scroll(function() {
        var url;
        url = $('.pagination .next_page').attr('href');
        if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
          $('.pagination').text("Fetching more examples...");
          return $.getScript(url);
        }
      });
      return $(window).scroll();
    }
  });

  var options = {
    valueNames: [ 'name']
  };

  var feedList = new List('feed-container', options);
</script>
